body {
    font-family: CartoGothicStdBook;
    font-size: 8pt;
}
h1.title {
    font-size: 30px;
    letter-spacing: -3px;
    color: #000000;
    font-weight: bold;
    overflow: visible;
    line-height: normal;
}