html body.admin-menu {
 margin-top: 0 !important;
 overflow: visible;
}
div#admin-menu,
div#admin-menu div,
#admin-menu ul a {
 overflow: visible;
 font-family: Helvetica, Arial ;
 font-size: 10px;
 padding: 2px 4px;
}
html body.admin-menu #page-inner {
 padding-top: 20px;

}
/*+clearfix {*/
.vsc_wired ul#navlist:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}
.vsc_wired ul#navlist {
    display: inline-block;
}
.vsc_wired ul#navlist {
/*\*/
    display: block;
/**/
    -height: 1px;
}
/*+}*/

body.vsc_wired {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}
.vsc_wired #page-wrapper {
    height: 100%;
}
.vsc_wired div {
    overflow: hidden;
}
/*this makes the admin module play nice with runvsc themes*/
.vsc_wired div#admin-toolbar {
    overflow: visible;
    width: 1px;
}
.vsc_wired div#admin-toolbar {
    overflow: visible;
    width: 1px;
}
.vsc_wired .full-width {
    display: block;
    position: relative;
    width: 100%;
}
.vsc_wired ul.inline {
    display: block;
    margin: 8px 0px 11px;
    padding: 0px;
    position: relative;
    text-align: right;
}
.vsc_wired ul.inline li {
    position: relative;
    display: inline;
    margin: 0px 5px 0px 0px;
    padding: 0px;
}
/*[clearfix]*/.vsc_wired ul#navlist {
    position: static;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.vsc_wired ul#navlist li {
    display: inline;
    font-size: 100%;
    float: none;
    padding: 5px;
    margin: 0px -2px 0px 0px;
}
.vsc_wired ul#navlist a {
    display: inline;
    float: none;
}
/*wireframe theming*/
body.grid-bg-12 #header,
body.grid-bg-12 #container,
body.grid-bg-12 #footer {
    background-image: url(../images/12_col.gif);
    background-position-x: center;
    background-repeat: repeat-y;
}
body.grid-bg-16 #header,
body.grid-bg-16 #container,
body.grid-bg-16 #footer {
    background-image: url(../images/16_col.gif);
    background-position-x: center;
    background-repeat: repeat-y;
}
.vsc_wired table {
    width: 100%;
}
.vsc_wired div {
    background-repeat: repeat;
    background-image: url(../images/bg.png);
}
/*declare boxes*/
.vsc_wired a {
    color: #000D5F;
    text-decoration: none;
}
.vsc_wired .messages {
    clear: both;
}
