/*declare fonts*/
body.grid-bg-12 #header,
body.grid-bg-12 #container,
body.grid-bg-12 #footer{
 background-image:url(../images/12_col.gif);
 background-position-x: center;
 background-repeat:repeat-y;

}
body.grid-bg-16 #header,
body.grid-bg-16 #container,
body.grid-bg-16 #footer{
 background-image:url(../images/16_col.gif);
 background-position-x: center;
 background-repeat:repeat-y;
}

body {
    font-family: "Trebuchet MS";
    font-size: 11px;
    color: #494949;
}
/*declare boxes*/
div {
    background-repeat: repeat;
    background-image: url(../images/bg.png);
    outline: 1px dashed #999999;
}
a {
    color: #000D5F;
    text-decoration: none;
}
.messages {
    clear: both;
}
