table.default td.ninesplice-1,
table.default td.ninesplice-3,
table.default td.ninesplice-7,
table.default td.ninesplice-9 {
    background-image: url(../ninesplice/default/corner.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}
table.default td.ninesplice-2,
table.default td.ninesplice-8 {
    background-image: url(../ninesplice/default/h.png);
    background-repeat: repeat-x;
}
table.default td.ninesplice-4,
table.default td.ninesplice-6 {
    background-image: url(../ninesplice/default/v.png);
    background-repeat: repeat-y;
}
/**
* template for new ninesplice
* replace "newNinespliceStyleFolderName"  with the name of your new ninesplice "theme"
 */
table.newNinespliceStyleFolderName td.ninesplice-1,
table.newNinespliceStyleFolderName td.ninesplice-3,
table.newNinespliceStyleFolderName td.ninesplice-7,
table.newNinespliceStyleFolderName td.ninesplice-9 {
    background-image: url(../ninesplice/newNinespliceStyleFolderName/corner.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}
table.newNinespliceStyleFolderName td.ninesplice-2,
table.newNinespliceStyleFolderName td.ninesplice-8 {
    background-image: url(../ninesplice/newNinespliceStyleFolderName/h.png);
    background-repeat: repeat-x;
}
table.newNinespliceStyleFolderName td.ninesplice-4,
table.newNinespliceStyleFolderName td.ninesplice-6 {
    background-image: url(../ninesplice/newNinespliceStyleFolderName/v.png);
    background-repeat: repeat-y;
}
/*you don't have to touch these below*/
table#ninesplice,
table#ninesplice th,
table#ninesplice tr,
table#ninesplice td,
table#ninesplice tbody {
    margin: 0;
    padding: 0;
    border: 0 none #FFFFFF;
}
table td.ninesplice-5 {
    background-color: transparent;
}
table td.ninesplice-1,
table td.ninesplice-4 {
    background-position: top left;
}
table td.ninesplice-2 {
    background-position: top center;
}
table td.ninesplice-3,
table td.ninesplice-6 {
    background-position: top right;
}
table td.ninesplice-7 {
    background-position: bottom left;
}
table td.ninesplice-8 {
    background-position: bottom center;
}
table td.ninesplice-9 {
    background-position: bottom right;
}